.right__Section {
    display: flex;
    padding: var(--Gap-300, 3rem);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Gap-300, 3rem);
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Gap-150, 1.5rem);
    align-self: stretch;
}
.heading h1,
.heading h4 {
    color: var(--Neutral-950, #292929);

    /* Display lg / Medium */
    font-family: "Clash Display";
    font-style: normal;

    line-height: normal;
}
.heading h1 {
    font-size: 2.375rem;
    font-weight: 500;
}
.heading h4 {
    font-weight: 400;
    font-size: 1.75rem;
}

.line {
    width: 5.3125rem;
    height: 0.125rem;
    background: #f7902b;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Gap-125, 1.25rem);
}

.form p {
    color: var(--Neutral-950, #292929);

    /* Text lg / Regular */
    font-family: Poppins;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form input {
    margin-top: 0.5rem;
    display: flex;
    width: 23.25rem;
    padding: var(--Gap-75, 0.75rem) var(--Gap-125, 1.25rem);
    align-items: center;
    border: none;
    gap: 0.625rem;
    border-radius: 0.375rem;
    border: 1px solid var(--Primary-700, #c0510e);
    font-family: Poppins;
    font-size: 1rem;
}
.form input::placeholder {
    font-weight: 300;
}
.form input:focus {
    outline: none;
}

.form button {
    margin-top: 0.5rem;
    display: flex;
    padding: var(--Gap-50, 0.65rem) var(--Gap-125, 1.25rem);
    justify-content: center;
    color: #fff;
    cursor: pointer;
    border: none;
    align-items: center;
    border-radius: 0.375rem;
    background: var(--Primary-500, #f7902b);
    font-size: 1.25rem;
}

.form button:disabled {
    background: var(--Primary-500, #e3974a);
    cursor: not-allowed;
}

.form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
